{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h1>Site en cours de maintenance</h1>

        <p>Merci de revenir d'ici quelques temps.</p>

    </div>

{% endblock content %}
