{% extends 'booking/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Supprimer la convention {{ agreement }} ?</h1>

    <div class="alert alert-warning">
        ATTENTION ! Ne pas supprimer une convention si elle a déjà été transmise aux usagers.
    </div>

	<p>Oui, je suis sûr de vouloir supprimer la convention <b>{{ agreement }}</b> pour la réservation <b>{{ agreement.booking.title }}</b>.</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<a href="{% url 'booking_detail' agreement.booking.pk %}" class="btn btn-primary">Annuler</a>
		<input type="submit" value="Supprimer" class="btn btn-danger">
	</form>

</div>

{% endblock content %}
