{% extends 'booking/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Créer une convention pour {{ booking.title }}</h1>

	<form method="POST" enctype="multipart/form-data">
        {% crispy form %}
		<a href="{% url 'booking_detail' booking.pk %}" class="btn btn-default">Annuler</a>
		<input type="submit" value="Créer" class="btn btn-primary">
	</form>

</div>

{% endblock content %}
