<html>
<head>
<style>
@page {
  size: A4;
  margin: 15mm;
  margin-bottom: 25mm;
  counter-increment: page;
  @bottom-right {
    content: "Page " counter(page) " sur " counter(pages);
    font-family: sans-serif;
    font-size: 10pt;
  }
}
body {
  font-family: sans-serif;
  font-size: 10pt;
}
</style>
</head>
<body>

<img src="./booking/static/booking/logo.png" style="float: left; width: 4cm; margin-right: 1cm; margin-bottom: .5cm;">

<h2 style="text-align: center;">Convention de séjour<br>n° {{ booking.year }}-{{ agreement.order|stringformat:"03d" }}</h2>

<p>
Entre le CGAB (Comité de Gestion et d’Animation du Centre national de Bécours),
{% if not booking.is_eedf %}agissant pour le compte de l’association des <b>Éclaireuses et Éclaireurs de France</b>,{% endif %}
d’une part,
</p>

<p>
Et <b>{{ booking.contact }}</b>, agissant pour le compte de <b>{{ booking.structure|default:booking.title }}</b> d’autre part,
</p>

<p>
Il est convenu ce qui suit :
</p>

<p style="clear: both;">
1 – Le centre de Bécours s’engage à accueillir un groupe de <b>{{ booking.headcount }} personnes</b>
pour la période du <b>{{ booking.begin|date:'l d/m/Y' }}</b> au <b>{{ booking.end|date:'l d/m/Y' }}</b>, soit <b>{{ booking.nights }} nuits</b>.
</p>

<p>
2 – Le séjour se déroulera en <b>gestion libre</b> et sera placé sous la <b>responsabilité</b> de <b>{{ booking.stay_contact|default:booking.contact }}</b>.
</p>

<p>
3 – Le centre de Bécours met à disposition du groupe :<ul>
{% for item in items %}
  <li><b>{{ item }}{% if item.option %} (option){% endif %}</b> : {{ item.description }}</li>
{% endfor %}
</ul>
</p>

<p>
4 – Le prix du séjour est de :<ul>
{% for item in items %}
  <li>
    {{ item }} :
    {% if item.price %}
      <b>{{ item.price }}</b> €
      {% if item.per_quantity %} par {{ item.get_unit_display }}{% endif %}
      {% if item.per_quantity and item.per_night %}et{% endif %}
      {% if item.per_night %}par nuit{% endif %}
    {% else %}
      offert
    {% endif %}
  </li>
{% endfor %}
{% if booking.amount_cot == 300 %}
  <li>Cotisation : <b>300,00</b> € (forfait)</li>
{% elif booking.cot_rate %}
  <li>Cotisation : <b>{{ booking.cot_rate }}</b> € par personne</li>
{% endif %}
</ul>
</p>
<p>
  Montant prévisionnel (hors options) : <b>{{ booking.amount }} €</b><br>
  {% for item in items %}
  {% if item.amount and not item.option %}
  - {{ item.title }} :
  {% if item.price %}{{ item.price|floatformat:2 }} €{% endif %}
  {% if item.price and item.per_quantity %}×{% endif %}
  {% if item.per_quantity %}{{ item.headcount }} {{ item.pretty_unit }}{% endif %}
  {% if item.price or item.per_quantity %}{% if item.per_night %}×{% endif %}{% endif %}
  {% if item.per_night %}{{ item.nights }} nuits{% endif %}
  = {{ item.amount|floatformat:2 }} €<br>
  {% endif %}
  {% endfor %}
  {% if booking.amount_cot == 300 %}
  - Cotisation : 300,00 €<br>
  {% elif booking.cot_rate %}
  - Cotisation : {{ booking.cot_rate }} € × {{ booking.headcount_cot }} personnes = {{ booking.amount_cot }} €<br>
  {% endif %}
</p>
<p>
Le prix final sera arrêté en fonction du nombre effectif de présents et tiendra compte des équipements et bâtiments loués.
Toute location, en dehors d’une réservation de séjours campé pendant la période estivale juillet-août, sera facturée au montant forfaitaire minimum de 950 €.
Les prestations supplémentaires et/ou toutes détériorations matérielles seront facturées en sus et devront être réglées avant le départ.
</p>

<p>
5 – Le responsable du séjour s’engage à se conformer et à appliquer le règlement intérieur du Centre dont il a eu connaissance.
Il s’engage aussi à faire appliquer les règles d’hygiène et de sécurité. Il devra assurer : le gardiennage, le nettoyage
et le rangement des locaux et des abords.
Pour des questions de sécurité, les couchages dans les bâtiments du Hameau sont interdit dans les espaces non-prévu à cet effet.
</p>

<p>
6 – A l’entrée dans les lieux, le responsable du séjour prendra connaissance de l’inventaire du matériel et de l’état des lieux.
A l’issue du séjour, toute dégradation constatée et/ou heure de ménage nécessaire si le centre est remis non nettoyé devront être réglée.
</p>

<p>
7 – Le responsable du séjour certifie qu’il est assurée contre tous les risques (incendie, responsabilité civile, dégâts divers, etc.)
Le centre EEDF de Bécours est garanti par une assurance responsabilité civile auprès de : MAIF, 79038 NIORT Cedex 9, n° de sociétaire : 2033206 P.
</p>

<p>
8 – Conformité du Centre<ul>
<li>Avis favorable de la commission de sécurité du 8 juillet 2021.</li>
<li>Arrêté d’ouverture du 19 juillet 2021.</li>
<li>Agrément jeunesse et sports Local Accueil de Mineurs (hébergements) n° 12 291 0001.</li>
</ul>
</p>
<p>
9 – Le règlement du séjour sera effectué ainsi :<br>
La réservation ne sera considérée effective qu’à réception de cette convention <b>signée</b>
{% if booking.deposit %}et accompagnée des <b>arrhes</b> {% endif %} avant le <b>{{ agreement.deadline|date:"d/m/Y"}}</b>.
Le solde est payable en début de séjour.
</p>
<p>
Convention à envoyer de préférence par email à <a href="mailto:becours@eedf.fr">becours@eedf.fr</a> ou par courrier postal à :
</p>
<p>
E.E.D.F - Secrétariat Bécours<br>
Base de loisirs de Cantepau<br>
BP 90353<br>
81027 ALBI Cedex 9 FRANCE<br>
</p>
{% if booking.deposit %}
<p>
Montant des arrhes : {{ booking.amount }} € x {{ booking.deposit }} % = <b>{{ booking.amount_deposit|floatformat:2 }}</b> €
</p>
<p>
De préférence, par virement bancaire :
</p><p>
Intitulé du compte : EEDF INV BECOURS<br>
N° IBAN : FR76 1010 7008 6800 3140 7921 421  Code BIC : BREDFRPPXXX<br>
Domiciliation : BRED Paris agence Râpée – tél. : +33 8 20 33 61 18<br>
</p>
<p>
Ou par chèque en euros à l’ordre de « EEDF Bécours ».
</p>
<p>
Nous rappelons qu’en cas de désistement, les arrhes restent acquises au centre de Bécours.
</p>
{% endif %}

<p>
10 — La présente convention est faite en deux exemplaires : un pour le Centre de Bécours et un pour l’organisateur du séjour.
</p>

<div style="width: 65%; display: inline-block; vertical-align: top;">
  Le<br>
  L’organisateur du séjour<br><br><br><br><br><br><br><br><br><br>
  Faire précéder sa signature de la mention « Lu et approuvé »
</div>

<div style="display: inline-block; vertical-align: top;">
  Le {{ agreement.date|date:"d/m/Y" }},<br>
  {{ signatory }} pour le CGAB<br>
  <img src="./etc/booking/signature.png">
</div>

</body>
</html>

