{% extends 'base.html' %}

{% block menu %}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Usagers
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{% url 'booking_list' %}">Réservations</a>
        </li>
        <li>
            <a href="{% url 'occupancy' %}">Occupation</a>
        </li>
        <li>
            <a href="{% url 'stats' %}">Statistiques</a>
        </li>
        <li>
            <a href="{% url 'cotisations' %}">Cotisations</a>
        </li>
        <li>
            <a href="{% url 'product_list' %}">Produits</a>
        </li>
    </ul>
</li>

{% endblock %}
