{% extends 'booking/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Supprimer {{ bookingitem }} ?</h1>

	<p>Oui, je suis sûr de vouloir supprimer le produit <b>{{ bookingitem }}</b> de la réservation <b>{{ bookingitem.booking.title }}</b>.</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<a href="{% url 'booking_detail' bookingitem.booking.pk %}" class="btn btn-primary">Annuler</a>
		<input type="submit" value="Supprimer" class="btn btn-danger">
	</form>

</div>

{% endblock content %}
