{% extends 'booking/base.html' %}

{% block content %}

<div class="container">

    {% if perms.booking.change_booking %}
        <div class="btn-toolbar title-action">
            <a href="{% url 'booking_update' booking.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                Modifier
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus"></span> Produit <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for product in products %}
                        <li><a href="{% url 'bookingitem_create' booking.pk product.pk %}">{{ product }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <a href="{% url 'agreement_create' booking.pk %}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> Convention
            </a>
            {% if booking.end %}
                <a href="{% url 'booking_sale_create' booking.pk %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-euro"></span> Facturer
                </a>
            {% endif %}
        </div>
    {% endif %}

    <h1>{{ booking.title }}</h1>

    <table class="table table-striped table-hover table-condensed">
        <tr>
            <th>Statut</th>
            <td><span class="label label-{{ booking.state.color }}">{{ booking.state.title }}</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Structure</th>
            <td>{{ booking.structure }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Type d'organisation</th>
            <td>{{ booking.get_org_type_display }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>{{ booking.contact }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Contact du séjour</th>
            <td>{{ booking.stay_contact }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><a href="mailto:{{ booking.email }}">{{ booking.email }}</a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Tél.</th>
            <td>{{ booking.tel_display }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Tiers</th>
            <td>{{ booking.thirdparty|default:"" }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Dates</th>
            <td>Du {{ booking.begin|date:'D d/m/y' }} au {{ booking.end|date:'D d/m/y' }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Nuits</th>
            <td>{{ booking.nights|default_if_none:"" }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Effectif</th>
            <td>{{ booking.headcount|default_if_none:"" }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Nuitées</th>
            <td>{{ booking.overnights|default_if_none:"" }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Exclusivité</th>
            <td>{{ booking.exclusivity|yesno }}</td>
            <td></td>
            <td></td>
        </tr>
        {% if booking.preferred_place %}
            <tr>
                <th>Placement souhaité</th>
                <td>{{ booking.preferred_place }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        {% if booking.wood %}
            <tr>
                <th>Bois</th>
                <td>{{ booking.wood }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        {% for item in items %}
            <tr>
                <th>
                    {{ item.title }}
                    {% if item.option %}(option){% endif %}
                </th>
                <td>
                    {% if item.price %}{{ item.price|floatformat:2 }} €{% endif %}
                    {% if item.price and item.per_quantity %}×{% endif %}
                    {% if item.per_quantity and item.headcount %}{{ item.headcount }} {{ item.pretty_unit }}{% endif %}
                    {% if item.price or item.per_quantity %}{% if item.per_night %}×{% endif %}{% endif %}
                    {% if item.per_night %}{{ item.nights }} nuits (du {{ item.begin|date:'D d/m/y' }} au {{ item.end|date:'D d/m/y' }}){% endif %}
                </td>
                <td class="text-right">
                    {% if item.price %}
                        {% if item.option %}
                            ({{ item.amount|floatformat:2 }} €)
                        {% else %}
                            {{ item.amount|floatformat:2 }} €
                        {% endif %}
                    {% else %}
                        offert
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'bookingitem_delete' item.pk %}">
                        <span class="glyphicon glyphicon-trash text-danger"></span>
                    </a>
                    &nbsp;
                    <a href="{% url 'bookingitem_update' item.pk %}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>Cotisation</th>
            <td>
                {% if booking.amount_cot == 300 %}
                    forfait
                {% elif booking.cot_rate %}
                    {{ booking.cot_rate }} € × {{ booking.headcount_cot }} personnes
                {% endif %}
            </td>
            <td class="text-right">{{ booking.amount_cot|floatformat:2 }} €</td>
            <td></td>
        </tr>
        <tr>
            <th>Montant total</th>
            <td></td>
            <td class="text-right">{% if booking.amount %}{{ booking.amount|floatformat:2 }} €{% endif %}</td>
            <td></td>
        </tr>
        <tr>
            <th>Arrhes</th>
            <td></td>
            <td class="text-right">{% if booking.amount_deposit %}{{ booking.amount_deposit|floatformat:2 }} €{%  endif %}</td>
            <td></td>
        </tr>
        {% for payment in booking.payments.all %}
        <tr>
            <th>Paiement</th>
            <td>{{ payment.get_mean_display }} le {{ payment.date|date:'d/m/y' }}{% if payment.scan %} (<a href="{{ payment.scan.url }}">télécharger</a>){% endif %}</td>
            <td class="text-right">{{ payment.amount|floatformat:2 }} €</td>
            <td></td>
        </tr>
        {% endfor %}
        <tr>
            <th>Solde</th>
            <td></td>
            <td class="text-right">{% if booking.balance is not None %}{{ booking.balance|floatformat:2 }} €{%  endif %}</td>
            <td></td>
        </tr>
        {% for agreement in booking.agreements.all %}
            <tr>
                <th>Convention</th>
                <td>
                    {% if agreement.pdf %}<a href="{{ agreement.pdf.url }}">{{ agreement.number }} (PDF)</a>{% endif %}
                    {% if agreement.odt %}(<a href="{{ agreement.odt.url }}">éditer</a>){% endif %}
                </td>
                <td></td>
                <td>
                    <a href="{% url 'agreement_delete' agreement.pk %}">
                        <span class="glyphicon glyphicon-trash text-danger"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% if booking.signed_agreement or booking.signed_agreement_scan %}
            <tr>
                <th>Convention signée</th>
                <td>
                    {% if booking.signed_agreement_scan %}<a href="{{ booking.signed_agreement_scan.url }}">{% endif %}
                    {{ booking.signed_agreement.number|default:"Télécharger" }}
                    {% if booking.signed_agreement_scan %}</a>{% endif %}
                </td>
                <td></td>
                <td></td>
            </tr>
        {%  endif %}
        {% if booking.insurance_scan %}
            <tr>
                <th>Attestation d'assurance</th>
                <td><a href="{{ booking.insurance_scan.url }}">télécharger</a></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        {% if booking.invoice or booking.invoice_number %}
            <tr>
                <th>Facture</th>
                <td>
                    {% if booking.invoice %}<a href="{{ booking.invoice.url }}">{% endif %}{{ booking.invoice_number|default:"télécharger" }}{% if booking.invoice %}</a>{% endif %}
                </td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        {% if booking.description %}
            <tr>
                <th>Description</th>
                <td colspan="3">
                    {{ booking.description|linebreaks }}
                </td>
            </tr>
        {% endif %}
    </table>

    <a href="{% url 'booking_list' %}" class="btn btn-default">Retour</a>

</div>

{% endblock content %}
