{% extends 'booking/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">

    {% if perms.booking.add_booking %}
        <a href="{% url 'booking_create' %}" class="btn btn-primary title-action">Ajouter</a>
    {% endif %}
    <h1>Réservations</h1>

    {% crispy filter.form %}

    <table class="table table-striped table-hover">
        <tr>
            <th>Intitulé</th>
            <th>Statut</th>
            <th class="text-right">Du <span class="glyphicon glyphicon-chevron-down"></span></th>
            <th class="text-right">Au</th>
            <th class="text-right">Nuits</th>
            <th class="text-right">Effectif</th>
            <th class="text-right">Nuitées</th>
            <th class="text-right">Montant</th>
            <th class="text-right">Solde</th>
            <th>Convention</th>
            <th>Date limite</th>
        </tr>
        {% for booking in booking_list %}
            <tr {% ifchanged booking.gone %}class="separator"{% endifchanged %}>
                <td><a href="{{ booking.get_absolute_url }}">{{ booking.title }}</a></td>
                <td><span class="label label-{{ booking.state.color }}">{{ booking.state.title }}</span></td>
                <td class="text-right">{{ booking.begin|date:'D d/m/y' }}</td>
                <td class="text-right">{{ booking.end|date:'D d/m/y' }}</td>
                <td class="text-right">{{ booking.nights|default_if_none:"" }}</td>
                <td class="text-right">{{ booking.headcount|default_if_none:"" }}</td>
                <td class="text-right">{{ booking.overnights|default_if_none:"" }}</td>
                <td class="text-right">{% if booking.amount %}{{ booking.amount|floatformat:2 }} €{% endif %}</td>
                <td class="text-right">{% if booking.balance %}{{ booking.balance|floatformat:2 }} €{%  endif %}</td>
                <td>
                    {%  if booking.agreement and booking.agreement.pdf %}
                        <a href="{{ booking.agreement.pdf.url }}">{{ booking.agreement.number }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if booking.state.income == 1 %}
                        <span {% if booking.overdue %}style="color: red;"{% endif %}>{{ booking.agreement.deadline|date:"d/m/Y" }}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right">{{ headcount }}</td>
            <td class="text-right">{{ overnights }}</td>
            <td class="text-right">{{ amount|floatformat:2 }} €</td>
            <td class="text-right">{{ balance|floatformat:2 }} €</td>
            <td></td>
        </tr>
        <tr class="total">
            <td>Total hors Bécours</td>
            <td></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right">{{ headcount_ext }}</td>
            <td class="text-right">{{ overnights_ext }}</td>
            <td class="text-right">{{ amount_ext|floatformat:2 }} €</td>
            <td class="text-right">{{ balance_ext|floatformat:2 }} €</td>
            <td></td>
        </tr>
    </table>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
