{% extends 'booking/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container stats">

    <h1>Cotisations membre associé</h1>

    {% crispy filter.form %}

    <table class="table table-striped table-hover">
        <tr>
            <th>Groupe</th>
            <th>Dates</th>
            <th class="text-right">Nuits</th>
            <th class="text-right">Effectif</th>
            <th class="text-right">Tarif</th>
            <th class="text-right">Montant</th>
        </tr>
        {% for booking in booking_list %}
            <tr>
                <td><a href="{% url 'booking_detail' booking.pk %}">{{ booking.title }}</a></td>
                <td>{{ booking.begin|date:'d/m/y' }} au {{ booking.end|date:'d/m/y' }}</td>
                <td class="text-right">{{ booking.nights }}</td>
                <td class="text-right">{{ booking.headcount }}</td>
                <td class="text-right">{{ booking.cot_rate|floatformat:0 }} €</td>
                <td class="text-right">{{ booking.amount_cot }} €</td>
            </tr>
        {% endfor %}
        <tr class="total">
            <td><b>Total</b></td>
            <td>{{ date }}</td>
            <td class="text-right"></td>
            <td class="text-right">{{ headcount }}</td>
            <td class="text-right"></td>
            <td class="text-right">{{ amount_cot }} €</td>
        </tr>
    </table>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
