{% extends 'booking/base.html' %}

{% block content %}

<div class="container">

    {% if perms.booking.change_product %}
        <div class="btn-toolbar title-action">
            <a href="{% url 'product_update' product.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                Modifier
            </a>
        </div>
    {% endif %}

    <h1>{{ product.title }}</h1>

    <table class="table table-striped table-hover table-condensed">
        <tr>
            <th>Nom</th>
            <td>{{ product.title }}</td>
        </tr>
        <tr>
            <th>Tarif</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>Tarif scout</th>
            <td>{{ product.price_scout }}</td>
        </tr>
        <tr>
            <th>Tarif EEDF</th>
            <td>{{ product.price_eedf }}</td>
        </tr>
        <tr>
            <th>Unité</th>
            <td>{{ product.get_unit_display }}</td>
        </tr>
        <tr>
            <th>Par nuit</th>
            <td>{{ product.per_night|yesno:"oui,non" }}</td>
        </tr>
        <tr>
            <th>Par quantité</th>
            <td>{{ product.per_quantity|yesno:"oui,non" }}</td>
        </tr>
        <tr>
            <th>Hébergement</th>
            <td>{{ product.accomodation|yesno:"oui,non" }}</td>
        </tr>
        <tr>
            <th>Emplacement</th>
            <td>{{ product.get_place_display|default:"" }}</td>
        </tr>
        <tr>
            <th>Nombre max</th>
            <td>{{ product.capacity|default_if_none:"" }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>
    </table>

    <a href="{% url 'product_list' %}" class="btn btn-default">Retour</a>

</div>

{% endblock content %}
