{% extends 'booking/base.html' %}
{% load static crispy_forms_tags %}


{% block content %}

    <div class="container">

        {% if perms.booking.add_product %}
            <div class="btn-toolbar title-action">
                <a href="{% url 'product_create' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    Ajouter
                </a>
            </div>
        {% endif %}

        <h1>Produits</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Tarif</th>
                <th>Tarif scout</th>
                <th>Tarif EEDF</th>
                <th>Unité</th>
                <th>Par nuit</th>
                <th>Par quantité</th>
                <th>Hébergement</th>
                <th>Emplacement</th>
                <th>Nombre max</th>
            </tr>
            </thead>
            <tbody>
            {% for product in product_list %}
                <tr>
                    <td><a href="{% url 'product_detail' product.pk %}">{{ product.title }}</a></td>
                    <td align="right">{{ product.price }}</td>
                    <td align="right">{{ product.price_scout }}</td>
                    <td align="right">{{ product.price_eedf }}</td>
                    <td>{{ product.get_unit_display }}</td>
                    <td>{{ product.per_night|yesno:"✓," }}</td>
                    <td>{{ product.per_quantity|yesno:"✓," }}</td>
                    <td>{{ product.accomodation|yesno:"✓," }}</td>
                    <td>{{ product.get_place_display|default:"" }}</td>
                    <td>{{ product.capacity|default:"" }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

    </div>

{% endblock content %}
