{% extends 'booking/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container stats">

    <h1>Statistiques hébergement</h1>

    {% crispy filter.form %}

    <table class="table table-striped table-hover booking-stats">
        <tr>
            <th></th>
            <th class="text-right">CA</th>
            <th class="text-right">%</th>
            <th class="text-right">Nuitées</th>
            <th class="text-right">%</th>
            <th class="text-right">Prix moyen</th>
            <th class="text-right">Effectifs</th>
        </tr>
        {% for name, substats in detailed_stats.items %}
            <tr>
                <th>{{ name }}</th>
                <td class="text-right">{{ substats.amount|floatformat:"0" }} €</td>
                <td class="text-right">{{ substats.amount_rate|floatformat:"0" }} %</td>
                <td class="text-right">{{ substats.overnights }}</td>
                <td class="text-right">{{ substats.overnights_rate|floatformat:"0" }} %</td>
                <td class="text-right">{{ substats.overnight_cost|floatformat:"2" }} €</td>
                <td class="text-right">{{ substats.headcount }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>Total</th>
            <td class="text-right">{{ stats.amount|floatformat:"0" }} €</td>
            <td class="text-right"></td>
            <td class="text-right">{{ stats.overnights }}</td>
            <td class="text-right"></td>
            <td class="text-right">{{ stats.overnight_cost }}</td>
            <td class="text-right">{{ stats.headcount }}</td>
        </tr>
    </table>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
